/* General */
* {
    font-family: "Roboto", Arial, serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    animation: fadeInAnimation ease 1.5s;
}

footer {
    background: #222831;
    color: #848484;

    width: 100%;

    padding-top: 5em;
    padding-bottom: 2em;

    margin-top: 7em; 
}

img, iframe{
    box-shadow: 2px 2px 20px 0 #888;
    border-radius: 1%;
}

li {
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none;
}

hr {
    color: #393e46;

    margin-top: 1em;
    margin-left: 5vw;
    margin-right: 5vw;
}

p {
    color: #848484;
}

a {
    color: black;
    text-decoration: none;
}

/* Class's */
.bar-links {
    font-size: 1.5em;
    display: inline-block;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    transition: background 0.3s ease-in-out;
}

.bar-links:hover {
    background: #efefef;
    cursor: pointer;
}

/* Dropdown menu code */
.dropdown-content {
    text-align: left;

    display: none;
    position: absolute;

    margin-left: 3vw;

    background: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    -ms-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    -o-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.bar-links:hover .dropdown-content {
    display: block;
}

.dropdown-elements {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.dropdown-elements:hover {
    background: #efefef;
    transition: background 0.3s ease-in-out;
}

.dropdown-elements:active {
    background: #f6f6f6;
}

.center-content {
    width: 1170px;

    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-elements {
    flex-basis: calc( calc(800px - 100%) * 999);
    flex-grow: 1;
    padding: 1em;
}

.text-links {
    color: #fa7e0a;
    text-decoration: none;
}

.text-links:hover {
    color: #faa352;
    text-decoration: underline;
}

.footer-titles {
    margin-bottom: 20px;
}

.footer-links {
    color: #656970;
    transition: 0.3s ease-in-out;
}

.footer-links:hover {
    color: #fa7e0a;
}

.social-media-icons {
    box-shadow: 0px 0px 0px 0 #888;
    background: white;

    border-style: solid;
    border-color: grey;
    border-width: 0.1px;
    border-radius: 30%;

    margin: 15px;
    margin-top: 0;

    height: 35px;
    width: 35px;

    transition: 0.3s ease-in-out;
}

.social-media-icons:hover {
    background: #fa7e0a;
    border-color: #fa7e0a;
}

.social-media-icons:active {
    background: #faa352;
    border-color: #faa352;
}

.fade-out {
    color: #656970;
}

.gallery {
    text-align: center;
    line-height: 5;
}

/* Id's */
/* Bar elements */
#bar {
    text-align: left;

    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;

    background: transparent;
    background-color: #ffffff;
    box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.22);

    -webkit-box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.22);
    -ms-box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.22);
    -o-box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.22);

    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 2vw;

    padding-left: auto;
    padding-right: auto;
}

#logo {
    width: 66px;
    height: 66px;
    margin-right: 2vw;

    float: left;
}

#logo, img[src^="images/GDMS"], img[src^="../../images/GDMS"] {
    box-shadow: none;
    border-radius: 0;
}

#bar-title {
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#bar-title-text {
    font-size: 2.5em;
    margin-top: 15px;
}

#bar-elements {
    font-size: 1em;
    text-align: center;

    margin-right: 30px;

    display: grid;
    grid-template-columns: auto auto auto auto;
}

#menu-phone {
    display: none;

    text-align: center;
    padding-top: 15px;
}

#menu-button-phone {
    font-size: 1.5em;
    cursor: pointer;

    padding: 5px;

    border: none;
    background: #ffffff;
    border-radius: 70%;
    transition: background 0.3s ease;
}

#menu-button-phone:active {
    background: #efefef;
}

#welcome { 
    color: white;
    text-align: center;
    font-size: 1.5em;

    line-height: 4;
    
    background-image: url(../images/Banner/Mindstorm%20Banner.JPG);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    padding-top: 40vh;

    min-height: 100vh;
}

#main-content {
    font-size: 1.2em;
    line-height: 1.8;

    margin-top: 7em;
}

#about {
    margin-bottom: 30px;
    padding: 1em;
}

#gdms-canada-logo {
    text-align: center;
}

#our_robots {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 5vh;
}

#robot_images {
    display: grid;
    grid-template-columns: auto auto;

    text-align: center;
}

#contact-us {
    line-height: 1.5;
}

#copyright-and-socials {
    text-align: center;
    padding-top: 2em;
}

#title {
    text-align: center;

    margin-top: 8em;
}

/* Mobile */
@media screen and (max-width: 800px) {
    .center-content {
        display: block;
        width: auto;
    }

    #bar {
        grid-column-gap: 0;
    }

    #logo {
        width: 35px;
        height: 35px;
    }

    #bar-title {
        margin-left: 10px;
    }

    #bar-title-text {
        font-size: 1em;

        margin-top: 10px;
    }

    #bar-elements {
        display: none;
    }

    #menu-phone {
        display: block;
    }

    #welcome {
        font-size: 1em;
    }

    #main-content {
        font-size: 1em;    
        margin-top: 3em;
    }

    #about {
        padding: 15px;
    }

    #ftc-sponsors-merch {
        display: block;
        flex-wrap: none;
    }

    #gdms-canada-logo {
        text-align: left;
    }

    #our_robots {
        text-align: left;
        margin-left: 0;
        margin-right: 0;
        padding: 15px;
        margin-bottom: 5vh;
    }

    #robot_images {
        display: block;

        text-align: center;
    }

    #affiliations-and-contacts {
        display: block;
        width: auto;

    }
}

/* keyframes */
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
