/* special thanks to Shayan for giving me a pretzzel */
/* General */
* {
    font-family: "Roboto", Arial, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    animation: fadeInAnimation ease 1.5s;
}

/* remove bold */
h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h2 {
    margin-bottom: 30px;
}

hr {
    color: #393e46;
}

li {
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none;
}

p {
    color: #848484;
}

/* Make links that go to other parts of the website look normal */
a[href] {
    text-decoration: none;
    color: #000000;
}

/* Links that go to other sites */
a[href^="http"] {
	color: #fa7e0a;
    text-decoration: none;	
}

a[href^="http"]:hover{
	color: #faa352;
    text-decoration: underline;
}

/* Class's */
.bar-links {
    /* font */
    font-size: 1.5em;

    /* padding */
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    transition: background 0.3s ease;
}

.bar-links:hover {
    background: #efefef;
    cursor: pointer;
}

.bar-links:active {
    background: #f6f6f6;
}

.dropdown-elements {
    /* padding for the dropdown menu */
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.dropdown-elements:hover {
    background: #efefef;
    transition: background 0.3s ease;
}

.dropdown-elements:active {
    background: #f6f6f6;
}

.fade-out {
    color: #656970;
}

/* Id's */
/* Bar elements */
#bar {
    /* text */
    color: black;
    text-align: left;

    position: fixed;
    right: 0px;
    left: 0px;

    /* background */
    background: transparent;
    background-color: #ffffff;
    box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.22);

    /* Make shadow work for older browsers */
    -webkit-box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.22);
    -ms-box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.22);
    -o-box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.22);

    /* griding */
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 2vw;

    padding-left: 10vw;
    padding-right: 10vw;
}

#logo {
    width: 66px;
    height: 66px;
    margin-right: 2vw;

    float: left;
}

#title {
    /* kinda center the text */
    padding-top: 15px;
    padding-bottom: 15px;
}

#title-text {
    /* text */
    font-size: 2.5em;

    /* add spacing in bettween the log and text */
    margin-top: 1.3vh;
}

#bar-elements {
    /* text */
    font-size: 1em;
    text-align: center;

    /* griding */
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

/* Dropdown menu code */
#dropdown {
    display: inline-block;
}

#dropdown-content {
    /* text */
    text-align: left;

    display: none;
    position: absolute;

    /* Shadow & Color */
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    /* Make the shadow work with older browsers */
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    -ms-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    -o-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#dropdown:hover #dropdown-content {
    display: block;
}

/* This is for the big image and it's text */
#welcome { 
    /* text */
    color: white;
    text-align: center;
    font-size: 1.5em;
    
    background-image: url(images/Banner/Mindstorm%20Banner.JPG);

    /* bakcground image settings */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    /* set it's height */
    min-height: 100vh;
}

#info {
    font-size: 1.2em;
    line-height: 1.8;

    width: 1170px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 7em;
}

/* formating the about section */
#formatting-about {
    margin-bottom: 30px;
}

#formatting-ftc-sponsors-merch {
    display: grid;
    grid-template-columns: 33.3% 41.6% 25%;
}

#formatting-ftc-about {
    padding-right: 20px;
}

#formatting-merchandise {
    padding-left: 20px;
}

#gdms-canada-logo {
    text-align: center;
}

#our_robots {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 5vh;
}

#robot_images {
    display: grid;
    grid-template-columns: auto auto;

    text-align: center;
}

#footer {
    background: #222831;
    color: #848484;

    width: 100%;
    
    padding-left: 5vw;
    padding-right: 5vw;

    padding-top: 5em;
    padding-bottom: 2em;

    margin-top: 7em; 
}

#affiliations-and-contacts {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 3vw;

    width: 1170px;

    margin-left: auto;
    margin-right: auto;

    padding-left: 15px;
    padding-right: 15px;
}

#contact-us {
    padding-top: 7px;
    line-height: 1.5;
}

#copyright-and-socials {
    text-align: center;

    width: 1170px;

    margin-left: auto;
    margin-right: auto;

    padding-top: 2em;
}

/* keyframes */
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
